// DISPLAY
// ==================================================
.d-flex {
  display: flex;

  &-sm {
    @media #{$target-sm-up} {
      display: flex;
    }
  }

  &-md {
    @media #{$target-md-up} {
      display: flex;
    }
  }

  &-lg {
    @media #{$target-md-up} {
      display: flex;
    }
  }
}

.d-block {
  display: block;

  &-sm {
    @media #{$target-sm-up} {
      display: block;
    }
  }

  &-md {
    @media #{$target-md-up} {
      display: block;
    }
  }

  &-lg {
    @media #{$target-md-up} {
      display: block;
    }
  }
}

.d-none {
  display: none;

  &-sm {
    @media #{$target-sm-up} {
      display: none;
    }
  }

  &-md {
    @media #{$target-md-up} {
      display: none;
    }
  }

  &-lg {
    @media #{$target-md-up} {
      display: none;
    }
  }
}
