// IMPORTS
@import '../../styles/variables/variables';
@import '../../styles/functions/functions';
@import '../../styles/mixins/mixins';

// VARIABLES
$badge-size-xs: 18px; // +
$badge-size-sm: 20px; // +
$badge-size-md: 25px; // +
$badge-size-lg: 40px;
$badge-size-xl: 60px; // +

// SCSS
.badge {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-100;
  border-radius: $border-radius;
  min-width: $badge-size-md;
  height: $badge-size-md;
  background: $gray-100;
  padding-right: 5px;
  padding-left: 5px;
  color: $font-color;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  white-space: nowrap;
  line-break: strict;
  word-break: keep-all;

  // SIZES
  &.xs {
    min-width: $badge-size-xs;
    height: $badge-size-xs;
    font-size: 10px;
    line-height: $badge-size-xs;
  }

  &.sm {
    min-width: $badge-size-sm;
    height: $badge-size-sm;
    font-size: $font-size-sm;
    line-height: $badge-size-sm;
  }

  &.md {
    min-width: $badge-size-md;
    height: $badge-size-md;
    font-size: $font-size;
    line-height: $badge-size-md;
  }

  &.lg {
    min-width: $badge-size-lg;
    height: $badge-size-lg;
    font-size: $font-size-lg;
    line-height: $badge-size-lg;
  }

  &.xl {
    min-width: $badge-size-xl;
    height: $badge-size-xl;
    font-size: 30px;
    line-height: $badge-size-xl;
  }

  // THEMES
  &.default {
    border-color: $gray-200;
    background: $gray-200;
    color: $gray-500;
  }

  &.primary {
    border-color: $brand-primary;
    background: $brand-primary;
    color: $white;
  }

  &.info {
    border-color: $info-bkg;
    background-color: $info-bkg;
    color: $info;
  }

  &.success {
    border-color: $success-bkg;
    background-color: $success-bkg;
    color: $success;
  }

  &.warning {
    border-color: $warning-bkg;
    background: $warning-bkg;
    color: $warning;
  }

  &.danger {
    border-color: $danger-bkg;
    background: $danger-bkg;
    color: $danger;
  }







  &.outline {
    border-color: $blue;
    background-color: transparent;
    color: $blue !important; // sass-lint:disable-line no-important
  }

  // SHAPES
  &.pill {
    border-radius: 1em;
    padding: 0 .5em;
  }

  &.square {

  }
}
