// IMPORTS
@import '../../../styles/variables/variables';
@import '../../../styles/functions/functions';
@import '../../../styles/mixins/mixins';

// VARIABLES


// SCSS
.NewClientEntry {
  .page-header {
    display: flex;
    flex-direction: row;
  }

  .filter-form {
    display: flex;
    align-items: center;

    .input-text {
      margin-right: 10px;
    }
  }
}
